<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="titleSave" parameterType="board">
        insert into board_table (boardTitle, boardWriter, boardPassword, boardContents, boardCreatedDate)
        values (#{boardTitle}, #{boardWriter}, #{boardPassword}, #{boardContents} , now())
    </insert>
    <select id="findAll" resultType="board">
        select * from board_table;
    </select>
    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id=#{id}
    </select>
</mapper>














